.intro-content {
  position: relative;
  /* top: -10.5rem; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content,
.intro-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.intro-img img {
  max-width: 100%;
  height: auto;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.my-grid-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid-main-heading {
  margin-bottom: 1rem;
}

.grid-description {
  margin-bottom: 8rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 8rem;
  padding-bottom: 3rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -2rem;
  left: 0;
  transform: rotate(5deg);
}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.gallery-img img {
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: scale(1.2) rotate(5deg);
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.form-group {
  position: relative;
  flex: 1 1 320px;
}

.form-group label {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  color: #8f8f8f;
  font-size: 2rem;
  pointer-events: none;
  transition: all 200ms ease-in-out;
}

.form-group input,
.form-group textarea {
  border: none;
  border-radius: 0.3rem;
  background: var(--white-color);
  padding: 2.6rem 2rem 1rem;
  width: 100%;
  font-size: 3rem;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: 0.2rem solid var(--white-color);
  outline-offset: 0.2rem;
}

.form-group input:focus + label,
.form-group textarea:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: 0.6rem;
  font-size: 1.2rem;
}

.form-group button {
  border: 0.5rem solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding: 1.5rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

#footer {
  text-align: center;
  font-size: 1.6rem;
}

.hearth {
  color: var(--secondary-color);
}

#footer p {
  margin: 0;
  padding: 3rem;
}
